#car {
    position: absolute;
    display: none;
    position: fixed;
    width: 100%;
    height: 209px;
    bottom: 1.88vw;
    right: 0;
    z-index: 10;
    background-image: url("../img/car.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $tablet-width) {
        bottom: -32.58vw;
        height: 100%;
        background-image: url("../img/car-tablet.png");
        right: 0;
    }

    @media (max-width: 570px) {
        bottom: -39.58vw;
    }

    @media (max-width: 480px) {
        bottom: -49.58vw;
    }

    @media (max-width: 350px) {
        bottom: -85.58vw;
    }

    @media (max-width: $mobile-width) {
        bottom: -66.58vw;
        height: 100%;
        background-image: url("../img/car-mobile.png");
        right: -5%;
    }

    img {
        width: 100%;
    }

    div {
        width: 100%;
        height: 100%;
    }
}
    

