$default-font: "MuseoCyrl";

$red: #EF3C15;
$tint-red: rgba(239, 60, 21, 0.82);
$gray: #f5f9fc;
$text-gray: #828282;
$black: #333;
$white: #ffffff;
$green: #01B489;

$mobile-width: 320px;
$tablet-width: 678px;
$fixed-width: 1600px;
