.header {
    overflow: hidden;
    background-color: $gray;

    .feedback-block {
        display: block;
        width: 100%;
        height: 91px;
        background-color: gray;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        background-color: $red;

        &__wrapper {
            display: flex;
            align-items: center;
            height: 39px;
            margin: 0 auto;
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 856px;

            @media (max-width: 1000px) {
                width: 600px;
            }
        }
        
        &__link {
            display: flex;
            flex-direction: row;
        }
        
        &__item a {
            font-size: 13px;
            line-height: 24px;
            color: $white;

            &:hover {
                opacity: 0.8;
            }

            @media (max-width: 1000px) {
                font-size: 16px;
            }
        }
    }

    .pop-up {
        display: none;
    }
}

@media (max-width: $tablet-width) {
    .header {

        .feedback-block {
            height: 144px;
        }
    
        .navigation {
            display: none;
        }
    }
}

@media (max-width: $mobile-width) {
    .header {

        .feedback-block {
            height: 68px;
        }
    }
}
