.header {
    overflow: hidden;
    background-color: $gray;

    .feedback-block {
        padding: 18px 0;
        font-weight: 900;

        &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 1029px;
            height: 55px;
            margin: 0 auto;

            @media (max-width: 1050px) {
                width: 890px;
            }

            @media (max-width: 900px) {
                width: 690px;
            }
        }

        &__burger-btn {
            display: none;
        }

        &__feedback-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 auto;
        }

        &__site-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 470px;
            margin: 0;

            @media (max-width: 1050px) {
                width: 405px;
            }

            @media (max-width: 900px) {
                width: 160px;
            }

            img {
                width: 150px;
                height: 55px;
            }

            p {
                font-size: 17px;
                line-height: 19px;
                width: 296px;
                padding-top: 10px;

                @media (max-width: 1050px) {
                    width: 250px;
                    font-size: 14px;
                }

                @media (max-width: 900px) {
                    display: none;
                }
            }
        }

        &__phone {
            @media (max-width: 1050px) {
                font-size: 14px;
            }
        }

        &__mail-linl {
            @media (max-width: 1050px) {
                font-size: 14px;
            }
        }

        &__call-button {
            position: relative;
            display: block;
            border: none;
            background-color: transparent;
            cursor: pointer;

            @media (max-width: 1050px) {
                font-size: 14px;
            }

            &::after {
                position: absolute;
                content: "";
                background: url("../img/header/phone.svg");
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                top: 0;
                right: -15px;

                @media (max-width: 1050px) {
                    display: none;
                }
            }
        }

        &__basket-link {
            position: relative;
            display: block;
            text-align: center;
            background-color: $red;
            width: 25px;
            height: 25px;
            padding-top: 3px;
            margin-left: 30px;
            border-radius: 50%;
            color: $white;

            &::before {
                position: absolute;
                display: block;
                content: "";
                background: url("../img/header/basket.svg");
                background-size: contain;
                background-repeat: no-repeat;
                top: 0;
                left: -30px;
                width: 25px;
                height: 25px;
            }
        }

        &__button {
            display: none;
        }
    }

    .navigation {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;
        background-color: $red;

        &__wrapper {
            display: flex;
            align-items: center;
            height: 39px;
            margin: 0 auto;
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 856px;

            @media (max-width: 1000px) {
                width: 600px;
            }
        }
        
        &__link {
            display: flex;
            flex-direction: row;
        }
        
        &__item a {
            font-size: 13px;
            line-height: 24px;
            color: $white;

            &:hover {
                opacity: 0.8;
            }

            @media (max-width: 1000px) {
                font-size: 16px;
            }
        }
    }

    .pop-up {
        display: none;
    }
}

@media (max-width: $tablet-width) {
    .header {

        .feedback-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 700;
            padding: 11px 0;
    
            &__wrapper {
                padding: 0 25px 0 0;
            }
    
            &__burger-btn {
                display: block;
                border: none;
                background-color: transparent;
                width: 40px;
                height: 40px;
            }
    
            &__feedback-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 auto;
            }
    
            &__site-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 150px;
                margin: 0;

                img {
                    width: 80px;
                    height: 40px;
                }
    
                p {
                    display: none;
                }
            }
    
            &__phone {
                display: none;
            }

            &__mail-link {
                display: none;
            }
    
            &__call-button {
                display: none;
            }
    
            &__basket-link {
                position: relative;
                display: block;
                text-align: center;
                background-color: $red;
                width: 25px;
                height: 25px;
                padding-top: 3px;
                border-radius: 50%;
                color: $white;
    
                &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    background: url("../img/header/basket.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: -4px;
                    left: -32px;
                    width: 30px;
                    height: 30px;
                }
            }

            &__button {
                display: block;
                top: 44px;
                left: 30px;
                padding-left: 40px;
                border: none;
                background-color: transparent;
            }
        }
    
        .navigation {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            align-items: center;
            background-color: $red;
    
            &__wrapper {
                display: flex;
                align-items: center;
                height: 25px;
                margin: 0 auto;
            }
    
            &__list {
                @media (max-width: 670px) {
                    width: 500px;
                }

                @media (max-width: 550px) {
                    display: none;
                }
            }
            
            &__link {
                display: flex;
                flex-direction: row;
            }
            
            &__item a {
                font-size: 16px;

                @media (max-width: 670px) {
                    font-size: 14px;
                }
            }
        }


        .pop-up {
            display: none;
            z-index: 4;

            &.show {
                display: block;
                width: 100%;
            }

            @media (max-width: 767px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 530px;
                padding: 45px 40px 22px 26px;
                background: rgba($color: #1D2931, $alpha: 1.0);
            }

            a {
                color: $white;
            }

            .pop-up__burger-button-close {
                position: absolute;
                top: 18px;
                left: 16px;
                width: 15px;
                height: 15px;
                padding: 0;
                border: none;
                background-color: transparent;
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            &__list {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 35px;
            }

            .visually-hidden {
                position: absolute;
                overflow: hidden;
            }

            &__item-link {
                font-size: 18px;
                line-height: 24px;
                color: $white;
            }

            &__link {
                display: flex;
                flex-direction: row;
                padding-top: 22px;

                a:first-child {
                    margin-right: 10px;
                }
            }

            &__item {
                @media (max-width: 744px) {
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6) {
                        display: none;
                    }
                }

                @media (max-width: 550px) {
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6) {
                        display: flex;
                    }
                }
            }
        }

    }
}
